.switch {
    position: relative;
    display: inline-block;
    width: 2.2rem;
    height: 1.2rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 0.1em;
    bottom: 0.1rem;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #222;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #222;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 1.2rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }