.darkLogo {
  color: #333;
}

.brightLogo {
  color: #bbb;
}

#logo {
  float: left;
  font-size: 5vh;
  margin: 2.4vh 2%;
}

@media only screen and (min-height: 1000px){
  #logo{
    font-size: 3.75vh;
    margin-top: 1.8vh;
  }
}

@media only screen and (max-width: 800px){
  #logo{
    margin-left: 4%;
  }
}