#main{
  padding-top: 10vh;
  padding-bottom: 15vh;
  z-index: 1;
}
.BrightMain {
  background-color: #f5f8ff;
}
.DarkMain {
  background-color: #232325;  
}
#headline {
  padding: 1rem 6%;
  padding-top: 3rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}
.BrightMain h1 {
  color: #232329;
}
.DarkMain h1 {
  color: #f5f8ff;
}
#para {
  padding: 1rem 8%;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
}
.DarkMain p{
  color: #e3e3e3;
}
.BrightMain p{
  color: #222
}
.pSpan{
  display: block;
}
#buttons{
  float: right;
  clear: both;
  display: flex;
  padding-top: .5rem;
  padding-right: 8%;
  width: 30%;
}
#buttons a{
  text-decoration: none;
  display: inline-block;
  width: 50%;
  margin-left: 2vw;
  font-family: Ubuntu, sans-serif;
}
#DisappearingStuff{
  color:  #2323F3;
  line-height: 8vh;
}
@keyframes border{
  0%{ border-bottom: solid 5px #222; }
  50%{ border-bottom: solid 5px  #2323F3; }
  100% { border-bottom: solid 5px #f3f3f3; }
}
@media only screen and (min-width: 1000px){
  #DisappearingStuff{
    animation: border 2s infinite;
    border-bottom: solid 3px  #2323F3;
  }
}
@media only screen and (max-width: 1000px){
  #buttons{
    width: 60%;
  }
}
@media only screen and (max-width: 500px){
  #main{
    padding-top: 4rem;
    padding-bottom: 3rem;
  } 
  #headline{
    font-size: 1.3rem;
    padding-top: 2rem;
  }
  #para{
    font-size: 1.1rem;
  }
  #buttons{
    float: none;
    display: block;
    width: 100vw;
    padding-top: .4rem;
  }
  #buttons a{
    display: block;
    margin-left: 10%;
    width: 80vw;
    text-align: center;
    margin-bottom: .9rem;
  }
  .pSpan:last-child{
    font-size: .9rem;
    padding-top: .9rem;
  }
}
@media only screen and (max-height: 420px){
  #buttons{
    float: none;
    margin-left: 30%;
    width: 70%;
    display: flex;
  }
  #buttons a{
    text-align: center;
    width: 50%;
  }
  .BrightButtons a{
    color: #222;
  }
  .pSpan:last-child{
    margin-top: 2.2rem;
  }
}