#AreYouSure, #createTodo{
  height: 100vh;
  width: 100vw;
  position: fixed;  
  left: 0;
  top: 0;
}
#createTodo{
  z-index: 1;
  backdrop-filter: blur(15px);
}
#AreYouSure {
  z-index: 3;
  backdrop-filter: blur(15px);
}
#createTodo h2{
  margin-top: 7rem;
  text-align: center;
  font-family: Ubuntu, sans-serif;
}
#AreYouSure form{
  margin-top: 9rem;
  padding: 1.3rem;
}
#AreYouSure #NoBtn{
  border: solid 2px #11f315;
  color: #777;
}
#AreYouSure #YesBtn{
  border: solid 2px #f31131;
  color: #777;
}
#AreYouSure button{
  margin: 0;
  width: 100%;
}
#AreYouSure h2{
  text-align: center;
  margin: .5rem;
}
#AreYouSure p{
  text-align: center;
  margin: 1rem auto;
}
#AreYouSure svg{
  margin-left: 1rem;
  color: #f31131;
  font-size: 2rem;
}
#createTodo svg#closeIcon{
  position: absolute;
  top: 7rem;
  font-size: 1.4rem;
}
#createTodo svg#closeIcon:hover,
#FilterTodos svg#closeIcon:hover{
  color: #3377ff;
}
.NoStats{
  right: 2vw;
}
.Stats{
  right: 17vw;
}
.DarkModal h2, 
.DarkModal svg#closeIcon{
  color: #dfdfff;
}
.BrightModal h2,
.BrightModal svg#closeIcon{
  color: #22222f;
}
.TopRightCorner{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}
.DarkModal p{
  color: #eee;
}
.BrightModal p{
  color: #323232;
}
#FormInModal input, 
#FormInModal select{
  width: 60%;
  display: inline;
  padding-left: 3%;
}
#FormInModal #pwField input{
  width: 100%;
}
#FormInModal #pwField{
  width: 60%;
}
#FormInModal .complain{
  margin-bottom: 1rem;
}
.DarkModal .complain p {
  color: #fee;
}
.BrightModal .complain p {
  color: #322;
}
#TaskTextArea, #FormInModal button{
  margin-top: .9rem;
}
#FormInModal textarea{
  resize: none;
  border-radius: 2vh;
  padding: .5rem 2%;
  margin-top: .9rem;
}
#FormInModal #input{
  margin-top: .5rem;
}
#FormInModal p{
  font-weight: 600;
}
#FormInModal button{
  width: 70%;
  margin-left: 15%;
}
#FormInModal input[type="url"]{
  width: 100%;
}
@media only screen and (max-width: 1400px){
  #createTodo{
    z-index: 3;
    backdrop-filter: blur(20px);
  }
  #createTodo svg#closeIcon{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #createTodo h2{
    margin-top: 5rem;
  }
  #FormInModal{
    margin-top: 3rem;
    width: 50%;
    margin-left: 25%;
  }
  .DarkModal #FormInModal input, 
  .BrightModal #FormInModal select,
  .DarkModal #FormInModal textarea{
    border: solid 1px #222;
  }  
  .BrightModal #FormInModal input, 
  .BrightModal #FormInModal select,
  .BrightModal #FormInModal textarea{
    border: solid 1px #fff;
  }
}
@media only screen and (max-width: 840px){
  #FormInModal{
    width: 70%;
    margin-left: 15%;
  }
  #FormInModal input,
  #FormInModal select{
    width: 80%;
  }
}
@media only screen and (max-width: 540px){
  #FormInModal{
    width: 90%;
    margin-left: 5%;
  }
  #FormInModal button,
  #FormInModal input,
  #FormInModal select{
    width: 100%;
    margin-left: 0;
  }
  #FormInModal #pwField input{
    width: 100%;
  }
  #FormInModal #pwField{
    width: 100%;
  }
}
@media only screen and (max-height: 540px) and (max-width: 830px){
  #createTodo h2{
    display: none;
  }  
  #CheckboxUnit p{
    margin-left: 4%;
  }
  #FormInModal button{
    margin-top: 4vh;
  }
  #FormInModal{
    margin-top: 2rem;
    padding: .9rem 3%;
    border-radius: 2vh;
    max-height: 90vh;
  }
  #Checkboxes{
    display: flex;
  }
  #CheckboxUnit{
    width: 50%;
  }
}