#navbar {
  position: fixed;
  text-align: center;
  height: 10vh;
  width: 100%;
  z-index: 2;
}

.brightNavbar{
  background-color: #eee;
  box-shadow: #222 0 0 1vh;
}

.darkNavbar{
  background-color: #222;
  box-shadow: #eee 0 0 1vh;
}

#navbarOptions {
  margin-top: 2.3vh;
}

li#navbarOption{
  display: inline;
  transition: all .5s;
  cursor: pointer;
}

#navbarOption div{
  display: inline;
}

#link{
  text-decoration: none;
}

ul{
  display: inline;
}

#navbarOptionText{
  font-size: 1.6rem;
  display: inline;
  margin: 2%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  transition: color .7s;
}

.BrightNavbarOptionText {
  color: #333;
}

.DarkNavbarOptionText {
  color: #eee;
}


.ActiveNavbarOption {
  color: #2323F3;
}

#navbarOptionIcon {
  display: inline;
  font-size: 4vh;
}

.BrightNavbarIcon {
  color: #232323;
}

li#navbarOption:hover .BrightNavbarOptionText{
  color: #888;
}
li#navbarOption:hover .DarkNavbarOptionText{
  color: #888;
}

.DarkNavbarIcon {
  color: #eee;
}

#ThemeToggler {
  top: 3.3vh;
  right: 2%;
  position: absolute;
}

/* media queries */
@media only screen and (max-width: 1200px){
  #navbarOptionText{
    display: none;
  }
  #navbarOptionIcon{
    margin: auto 5%;
  }
}

@media only screen and (min-height: 1000px){
  #navbar{
    height: 7.5vh;
  }
  #navbarOptions {
    margin-top: 1.8vh;
  }
  #navbarOptionIcon {
    font-size: 3vh;
  }  
  #ThemeToggler {
    top: 2.7vh;
  }
}

@media only screen and (max-height: 420px){
  #ThemeToggler {
    top: 2vh;
  }
}

@media only screen and (max-height: 350px){
  #ThemeToggler {
    top: 1.5vh;
  }
}

@media only screen and (max-height: 300px){
  #ThemeToggler {
    top: 0.5vh;
  }
}