#MainBody{
  padding-top: 20vh;
  font-family: Ubuntu, sans-serif;
}
#BigIcon {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 4rem;
}
#linkToHome{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  max-width: 230px;
  margin: auto;
  margin-top: 2rem;
  text-decoration: none;
  padding: 1rem;
  background-color: #2323F3;
  border-radius: .6rem;
  color: #fff;
}