/*Common rules for all pages*/
::-webkit-scrollbar { 
  display: none; 
}
.formPage, .signupFormPage, .Page{
  padding-top: 4.7rem;
}
.Page{
  margin: auto 10%;
  font-family: Ubuntu, sans-serif;
}
.Page h1{
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.6rem;
}
#editOption-Icon{
  float: right; 
  clear: both;
}
.Page #h1-Icon, #editOption-Icon{
  color: #3377ff;
  transition: all .5s;
}
#editOption-Icon:hover{
  transform: scale(0.9);
}
#h1-Icon{
  margin-left: .7rem;
}
@media only screen and (max-width: 1200px) and (min-width: 830px){
  .Page #h1-Icon{
    display: none;
  }
}
.Page h3{
  font-size: 1.2rem;
  padding: 1rem 3%;
  margin: 2.5rem 20%;
  text-align: center;
  border-radius: 0.5vh;  
}
.BrightPage h1, .BrightPage #headline{
  color: #232323;
}
.DarkPage h1, .DarkPage #headline{
  color: #f3f3f3;
}
.BrightPage h3{
  color: #223;
  background-color: #efefff;
  box-shadow: 0 0 .5vh #222229;
}
.DarkPage h3{
  color: #ddf;
  background-color: #222229;
  box-shadow: 0 0 .5vh #ddf;
}
.AddTodoBtn {
  position: fixed;
  right: 7%;
  bottom: 7%;
  background-color: #2323F3;
  border-radius: 50%;
  color: #eef;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}
#UserSection{
  margin: auto 10vw;
  padding: 1rem 2%;
  text-align: left;
}
#UserSection #UserNames{
  font-size: 1.5rem;
}
#UserSection #flex{
  display: flex;
}
#UserSection #username{
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: .6rem auto;
}
#UserSection #userSection-flexItem{
  margin-right: 1vw;
}
#UserSection #Main-flex{
  display: flex;
  justify-content: space-between;
}
#UserSection h4{
  color: #888;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: .3rem 0;
}
#UserSection #count{
  margin-left: .5rem;
  font-weight: 600;
}
#UserSection #contrast{
  margin: .4rem 0;
}
.DarkPage #UserSection{
  background-color: #22222a;
  box-shadow: 0 0 .1rem #eef;
}
.BrightPage #UserSection{
  background-color: #eef;
  box-shadow: 0 0 .1rem #22222a;
}
.AddTodoBtn > div{
  padding: 19px 21px;
}
.DarkPage .AddTodoBtn{
  box-shadow: 0 0 1vh #efefef;
}
.BrightPage .AddTodoBtn{
  box-shadow: 0 0 1vh #232323;
}
#TodoStats{
  right: 0;
  width: 15vw;
  z-index: 1;
}
#UserFriendBar{
  right: 0;
  width: 20vw;
  overflow: hidden;
}
#scrollableList{
  margin-top: 1.5rem;
  padding: .5rem;
  height: calc(100% - 4rem);
  overflow: scroll;
}
.DarkPage #scrollableList,
.DarkPage #scrollableList a{
  color: #efefff; 
}
.BrightPage #scrollableList, 
.BrightPage #scrollableList a{
  color: #22222a;
}
#FilterTodos{
  left: 0;
  width: 16vw;
}
#EditProfile{
  left: 0;
  width: 20vw;
  z-index: 2;
  min-height: 20rem;
}
#editOptions{
  text-align: left;
  font-size: 1.2rem;
  transition: all .5s;
}
#editOptions li:first-child{
  margin-top: 1.6rem;
}
#editOptions li{
  margin: 1.2rem auto;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
#FilterTodos,
#TodoStats,
#EditProfile, 
#UserFriendBar{
  top: 4.7rem;
  padding: 2rem 2%;
  height: calc(100% - 4.7rem);
  position: fixed;
}
#FilterTodos-form{
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: height .5s ease;
}
#FilterForm{
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: top .5s ease;
}
.normalForm{
  height: 100%;
}
.hiddenForm{
  height: 0%;
}
.normalForm form{
  top: 0;
}
.hiddenForm form{
  top: -55vh;
}
#request{
  padding: .5rem;
}
#request #username{
  font-size: 1.1rem;
  font-weight: 600;
}
.DarkPage #request{
  background-color: #22222a;
  box-shadow: 0 0 .1vh #eaeaff;
}
.BrightPage #request{
  background-color: #eaeaff;
  box-shadow: 0 0 .1vh #22222a;
}
#request #reqButtons{
  float: right;
  clear: both;
}
#request svg{
  font-size: 1.4rem;
  margin: 0 .1rem;
}
#request svg:hover{
  transform: scale(1.2);
}
#request #names{
  font-size: .9rem;
}
#request #RejectRequest{
  color: #cc3322;
}
#request #AcceptRequest{
  color: #228855;
}
#request #BlueIcon{
  color: #3377ff;
}
.BrightPage #EditProfile,
.BrightPage #FilterTodos,
.BrightPage #TodoStats,
.BrightPage #UserFriendBar{
  background-color: #fafaff;
  box-shadow: 0 0 0.3vh #222227;
}
.DarkPage #EditProfile,
.DarkPage #FilterTodos,
.DarkPage #TodoStats,
.DarkPage #UserFriendBar{
  background-color: #222227;
  box-shadow: 0 0 0.3vh #fafaff;
}
.DarkPage #EditProfile h4,
.DarkPage #FilterTodos h4,
.DarkPage #TodoStats h4{
  background-color: #232327;
  box-shadow: 0 0 0.3vh #fafaff;
}
#TodoStats h2,
#FilterTodos h2,
#EditProfile h2,
#UserFriendBar h2{
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.BrightPage #FilterTodos h2,
.BrightPage #TodoStats h2,
.BrightPage #EditProfile h2,
.BrightPage #UserFriendBar h2,
.BrightPage #count,
.BrightPage #contrast{
  color: #22222f;
}
.DarkPage #FilterTodos h2,
.DarkPage #TodoStats h2,
.DarkPage #EditProfile h2,
.DarkPage #UserFriendBar h2,
.DarkPage #count,
.DarkPage #contrast{
  color: #eaeaff;
}
#TodoStats h4,
#FilterTodos h4{
  font-size: 1.3vw;
  font-weight: 600;
  margin-bottom: .5rem;
}
.BrightPage #FilterTodos h4,
.BrightPage #TodoStats h4{
  color: #22223f;
}
.DarkPage #FilterTodos h4,
.DarkPage #TodoStats h4{
  color: #c5c5ff; 
  box-shadow: none;
  background-color: transparent;
}
#FilterTodos p, 
#TodoStats p{
  font-size: 1.05vw;
}
.BrightPage #FilterTodos p,
.BrightPage #TodoStats p,
.BrightPage #EditProfile li{
  color: #222232;
}
.DarkPage #FilterTodos p,
.DarkPage #TodoStats p,
.DarkPage #EditProfile li{
  color: #efeaff;
}
#deleteAccountOption svg{
  color:  #ff4444;
}
#ActiveTodos{
  color:  #ff7722;
}
#FullfilledTodos{
  color: #22cc55;
}
#Todos{
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw;
  width: 69vw !important;
  margin-top: 2.5rem;
}
#Todo{
  width: 23vw !important;
  padding: .5rem;
}
.BrightPage #Todo {
  background-color: #f1f1ff;
  box-shadow: 0 0 .3vh #212122;
}
.DarkPage #Todo {
  background-color: #212122;
  box-shadow: 0 0 .3vh #f1f1ff;
}
#Todo #TimeLeft{
  color: #228855;
}
#Todo h2{
  padding: .5rem;
  font-weight: 500;
  word-wrap: break-word;
}
.extraExtraSmallText{
  font-size: .9rem;
}
.extraSmallText{
  font-size: 1rem;
}
.smallText{
  font-size: 1.2rem;
}
.mediumText{
  font-size: 1.4rem;
}
.largeText{
  font-size: 1.7rem;
}
.BrightPage #Todo h2{
  color: #323232;
}
.DarkPage #Todo h2{
  color: #ccc;
}
#Todo h3{
  background-color: transparent;
  box-shadow: none;
  text-align: left;
  margin: auto;
  font-size: 1rem;
  padding: .5rem;
}
#Todo p{
  padding: .2rem .5rem;
  font-size: 1.1rem;
}
#time{
  font-family: Roboto;
  font-weight: 200;
}
#Todo #red{
  font-family: Noto Sans KR, sans-serif;
  color: #cc3322;
}
#Todo ul{
  margin-left: .2rem;
}
#Todo li{
  display: inline-block;
  margin: .3rem 1%;
}
#Todo a {
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
  color: #3377ff;
}
#LowerSection{
  position: relative;
  z-index: 0;
}
#LowerSection p{
  padding: .5rem 2%;
}
#TodoButtons{
  position: absolute;
  bottom: .5rem;
  right: 2%;
}
#EditTodoIcon{
  margin-right: 1vw;
  color: #3377ff;
}
#todoDeletingSpinner{
  color: #3377ff;
  animation: rotating 2s linear;
}
@keyframes rotating {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
.BrightPage #Todo p{
  color: #333;
}
.DarkPage #Todo p{
  color: #fff;
}
#DoneTodo{
  color: #22cc55;
}
#NeedToCompleteTodo{
  color: #ff7722;
}
@media only screen and (min-width: 1401px){
  #deleteAccountOption{
    position: absolute;
    bottom: .9rem;
    left: 2vw;
    font-size: 1.1rem;
  }
  #deleteAccountOption svg{
    margin-left: 1vw;
  }
}
@media only screen and (min-height: 1000px) and (min-width: 1400px){
  #FilterTodos h2{
    margin-bottom: .5rem;
  }
}
@media only screen and (min-height: 1200px) and (min-width: 1000px){
  .Page h3{
    margin: 1.7rem 2.2rem;
  } 
  .normalForm{
    height: 43vh;
  }
}
@media only screen and (max-width: 1400px){
  #TodoStats, #FilterTodos, #EditProfile, #UserFriendBar{
    position: static;
    height: auto;
    text-align: center;
    width: auto;
    transition: height .5s ease;
  }
  #UserSection{
    margin: 2rem auto;
  }
  #UserSection #flex {
    display: block;
  }
  #UserSection #Main-flex{
    display: block;
  }
  #EditProfile{
    margin: 1rem auto;
  }
  .hiddenForm{
    height: .01vh;
  }
  #TodoStats h4, #FilterTodos h4, #EditProfile h4{
    font-size: 1.1rem;
  }
  #filterInputs{
    display: flex;
    flex-wrap: wrap;
  }
  #FilterTodos form {
    padding-left: 2%;
  }
  #FilterTodos p {
    float: left;
    clear: both;
  }
  #FilterTodos #input{
    width: 45%;
    margin-right: 3%;
    margin-bottom: .3rem;
  }
  #FilterTodos p, #EditProfile p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .4rem;
  }
  .normalForm{
    height: 19rem;
  }
  #FilterTodos button{
    width: 50%;
  }
  #Todos{
    width: 100%;
  }
  #Todo{
    width: 50% !important;
  }
}
@media only screen and (max-width: 700px){
  #Todos{
    display: block;
    width: 100%;
  }
  #Todo{
    width: 100% !important;
  }
}
@media only screen and (min-height: 1000px) and (max-width: 1400px){
  #FilterTodos button{
    width: 40%;
  }
  .hiddenForm{
    height: 1px;
  }
  .normalForm{
    height: 18rem;
  }
}
@media only screen and (max-width: 540px) {
  #TodoStats, #FilterTodos{
    position: sticky;
    padding: .4rem;
  }
  #FilterTodos{
    position: static;
  }
  #filterInputs{
    display: block;
  }
  #FilterTodos form {
    padding-left: 2%;
  }
  #FilterTodos #input{
    width: 100%;
    margin-right: 3%;
    margin-bottom: 0.2vh;
  }
  .normalForm{
    height: 25rem;
  }
}
@media only screen and (max-width: 540px) and (max-height: 830px){
  .Page{
    margin: auto 0;
  }
  #Todos{
    margin: 2.3rem 0;
    display: block;
    width: 100%;
  }
  #FilterTodos button{
    width: 80%;
  }
  .AddTodoBtn{
    bottom: 3vh;
  }
  .AddTodoBtn > div{
    padding: 13px 16px;
  }
  #Todo{
    width: 100vw !important;
  }
  hr{
    margin-left: 2%;
    width: 96%;
  }
  #EditTodoIcon{
    margin-right: 4vw;
  }
  p#TimeLeft{
    font-weight: 600;
  }
  p#time{
    font-weight: 400;
  }
}
@media only screen and (max-height: 540px) and (max-width: 830px){
  #TodoStats, #FilterTodos{
    padding: .4rem;
  }
  .Page{
    margin: auto 5%;
  }  
  #FilterTodos button,
  #createTodoForm button {
    width: 70%;
  }
  .normalForm{
    height: 19rem;
  }
  #Todos{
    display: block;
  }
  #Todo{
    width: 100% !important;
    margin-left: 5%;
  }
  #Todo h2{
    font-size: 1.5rem;
  }  
  #EditTodoIcon{
    margin-right: 2vw;
  }
  p#TimeLeft{
    font-weight: 600;
  }
  p#time{
    font-weight: 400;
  }
  hr{
    width: 96%;
    margin-left: 2%;
  }
}