#SideMenu{
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  z-index: 1;
}

.brightSideMenu{
  background-color: rgba(44, 44, 44, 0.1);
  backdrop-filter: blur(15px);
}

.darkSideMenu{
  background-color: rgba(230, 230, 250, 0.1);
  backdrop-filter: blur(15px);
}

li{
  list-style-type: none;
}

#SideMenuNavbarOption{
  width: 100%;
  height: auto;
  text-align: left;
  transition: all 0.5s ease-in-out;
  padding: 6vh 6%;
  cursor: pointer;
}

.BrightSideMenuNavbarOption:active,
.BrightSideMenuNavbarOption:hover{
  background-color: rgba(3, 3, 3, 0.3);
}

.DarkSideMenuNavbarOption:active,
.DarkSideMenuNavbarOption:hover{
  background-color: rgba(252, 252, 252, 0.3);
}

#SideMenuNavbarOptionIcon{
  display: inline-block;
  margin-right: 7%;
  font-size: 4vh;
  transition: all .5s;
}

#SideMenuNavbarOptionText{
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all .5s; 
  position: relative;
  float: right;
  font-size: 3vh;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (min-height: 1000px){
  #SideMenu{
    top: 7.5vh;
    height: 92.5vh;
  }
}

@media only screen and (max-height: 500px){
  .SideMenuOptions{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #SideMenuNavbarOption{
    width: 50%;
  }
  #SideMenuNavbarOptionIcon{
    font-size: 6vh;   
  }
  #SideMenuNavbarOptionText{
    font-size: 4.5vh;
  }
}