#SideMenu{
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.brightSideMenu{
  background-color: rgba(44, 44, 44, 0.2);
}

.darkSideMenu{
  background-color: rgba(230, 230, 250, 0.05);
}

li{
  list-style-type: none;
}

#SideMenuNavbarOption{
  width: 100%;
  height: auto;
  text-align: left;
  transition: all 0.5s ease-in-out;
  padding: 6vh 6%;
  list-style-type: none;
}

.BrightSideMenuNavbarOption:active,
.BrightSideMenuNavbarOption:hover{
  background-color: rgba(3, 3, 3, 0.1);
}

.DarkSideMenuNavbarOption:active,
.DarkSideMenuNavbarOption:hover{
  background-color: rgba(252, 252, 252, 0.1);
}

#SideMenuNavbarOption:first-child{
  padding-top: 16vh;
}

#SideMenuNavbarOptionIcon{
  display: inline-block;
  margin-right: 7%;
  font-size: 4vh;
}

.BrightNavbarIcon{
  color: #333;
}

.DarkNavbarIcon{
  color: #eee;
}

#SideMenuNavbarOptionText{
  -webkit-font-smoothing: subpixel-antialiased; 
  position: relative;
  float: right;
  font-size: 3vh;
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

.BrightNavbarOptionText{
  color: #222;
}

.DarkNavbarOptionText{
  color: #ccc;
}

@media only screen and (max-height: 500px){
  .SideMenuOptions{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  #SideMenuNavbarOption{
    width: 50%;
  }
  #SideMenuNavbarOption:nth-child(2){
    padding-top: 16vh;
  }
  #SideMenuNavbarOptionIcon{
    font-size: 6vh;   
  }
  #SideMenuNavbarOptionText{
    font-size: 4.5vh;
  }
}