#MainBody{
  padding-top: 20vh;
  font-family: Ubuntu, sans-serif;
}

#Icon {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 10vh;
}

.BrightIcon{
  color: #333;
}

.DarkIcon{
  color: #ddd;
}

#linkToHome{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3vh;
  text-decoration: none;
  padding: 2vh 4%;
  background-color: #2323F3;
  border-radius: 1vh;
  color: #fff;
}